.table-responsive {
    overflow-x: auto;
}

@media (max-width: 576px) {

    .table th,
    .table td {
        padding: 0.3rem;
        font-size: 0.85rem;
        white-space: nowrap;
        /* evita que el contenido se rompa */
    }

    .btn {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
    }

    .list-group-item.d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        /* espacio horizontal entre spans */
        flex-wrap: wrap;
        /* permite que los textos se bajen si no hay espacio */
    }

    .list-group-item span {
        max-width: 50%;
        /* cada uno máximo 1/2 del ancho */
        white-space: nowrap;
        /* evitar salto de línea interno */
        overflow: hidden;
        text-overflow: ellipsis;
        /* puntos suspensivos si no cabe */
        display: inline-block;
        vertical-align: middle;
    }

}